---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Léo Mindlin">
  <main
    class="text-gray-600 mx-auto max-w-[800px] flex flex-col gap-6 items-start justify-center py-10 pb-40 font-extralight p-4"
  >
    <div
      class="z-50 b bg-gray-50 flex flex-row w-full justify-between items-center"
    >
      <div>
        <h1 class="text-2xl font-serif text-gray-900">Léo Mindlin</h1>
        <span class=""
          >Software Engineering Co-op Student at McGill University</span
        >
      </div>
      <div class="space-x-2">
        <a href="mailto:leo@mindlin.xyz">Contact</a>
        <a href="">CV</a>
      </div>
    </div>

    <nav class="text-sm">
      On this Page:
      <ul class="flex flex-row space-x-4 underline">
        <li>
          <a href="#work-experience">Work Experience</a>
        </li>
        <li>
          <a href="#technical-experience">Technical Experience</a>
        </li>
        <li>
          <a href="#education">Education</a>
        </li>
      </ul>
    </nav>

    <section class="grid grid-cols-[25%_1fr] space-y-8">
      <h2
        id="work-experience"
        class="font-serif text-xl text-gray-900 col-span-full"
      >
        Work Experience
      </h2>
      <time>2024</time>
      <div class="space-y-2">
        <figure>
          <div class="bg-gray-200 aspect-video w-full h-full rounded-xl"></div>
        </figure>
        <h3 class="">
          Freelance Web Deveopment at <a
            href="https://beta.tellavision.agency/"
            target="_blank"
            rel="noopener noreferrer">TellAVision Agency</a
          >
        </h3>
        <p>
          Aute minim sunt cupidatat ipsum cillum nisi magna non pariatur ea id
          ut. Aliquip commodo laborum exercitation adipisicing laborum nisi elit
          labore aliquip proident sunt irure. Aute mollit proident ea do laboris
          eu do laboris eiusmod minim cillum. Culpa qui ullamco dolor amet
          fugiat. Culpa minim voluptate dolore quis consequat sit ea. Magna
          labore duis sit labore do veniam enim.
        </p>
      </div>
    </section>

    <section class="grid grid-cols-[25%_1fr] space-y-8">
      <h2
        id="technical-experience"
        class="font-serif text-xl text-gray-900 col-span-full"
      >
        Technical Experience
      </h2>
      <time>2024</time>
      <div class="space-y-2">
        <figure>
          <div class="bg-gray-200 aspect-video w-full h-full rounded-xl"></div>
        </figure>
        <h3>
          Software Developer at <a
            href="https://www.mcgillrocketteam.com/"
            target="_blank"
            rel="noopener noreferrer">McGill Rocket Team</a
          > on the <a
            href="https://www.mcgillrocketteam.com/avionics-projects-page"
            target="_blank"
            rel="noopener noreferrer">Ground Station Project</a
          >
        </h3>
        <p>
          Aute minim sunt cupidatat ipsum cillum nisi magna non pariatur ea id
          ut. Aliquip commodo laborum exercitation adipisicing laborum nisi elit
          labore aliquip proident sunt irure. Aute mollit proident ea do laboris
          eu do laboris eiusmod minim cillum. Culpa qui ullamco dolor amet
          fugiat. Culpa minim voluptate dolore quis consequat sit ea. Magna
          labore duis sit labore do veniam enim.
        </p>
      </div>
      <time>2024</time>
      <div class="space-y-2">
        <figure>
          <div class="bg-gray-200 aspect-video w-full h-full rounded-xl"></div>
        </figure>
        <h3>
          Volunteer Web Development at <a
            href="https://www.smmusd.org/"
            target="_blank"
            rel="noopener noreferrer"
            >Santa Monica-Malibu Unified School District</a
          >
        </h3>
        <p>
          Aute minim sunt cupidatat ipsum cillum nisi magna non pariatur ea id
          ut. Aliquip commodo laborum exercitation adipisicing laborum nisi elit
          labore aliquip proident sunt irure. Aute mollit proident ea do laboris
          eu do laboris eiusmod minim cillum. Culpa qui ullamco dolor amet
          fugiat. Culpa minim voluptate dolore quis consequat sit ea. Magna
          labore duis sit labore do veniam enim.
        </p>
      </div>
    </section>

    <section class="grid grid-cols-[25%_1fr] space-y-8 w-full">
      <h2 id="education" class="font-serif text-xl text-gray-900 col-span-full">
        Education
      </h2>
      <time>2024—2028</time>
      <div class="space-y-2">
        <h3>McGill University</h3>
        <div class="w-full text-sm">
          Bachelor of Engineering, <a
            href="https://www.mcgill.ca/ece/undergrad/information/software-engineering-co-op"
            target="_blank"
            rel="noopener noreferrer">Co-op in Software Engineering</a
          >
          <br />
        </div>
        <p>
          Relevant Coursework: Discrete Structures, Fundamentals of Software
          Development, Calculus III
        </p>
      </div>

      <time>2020—2024</time>
      <div class="space-y-2">
        <h3>Santa Monica College</h3>
        <div class="w-full text-sm">Dual Enrollment With High School</div>
        <p>
          Relevant Coursework: C Programming, C++ Programming, Assembly
          Programming, Digital Design Tools
        </p>
      </div>
    </section>
  </main>
</Layout>
